<!-- Template to display weather info -->
<form ng-controller="SearchCtrl" class="ng-scope form-horizontal">
    <p class="lead">Search Location - Weather</p>
    <div class="form-group">
        <label class="col-sm-2 control-label">Search Location:</label>
        <div class="col-sm-10">
            <select name="mySelect" class="form-control" ng-options="option.locationName for option in data.availableOptions track by option.id" ng-model="data.selectedLocation" ng-change="searchWeather()"></select>
        </div>
    </div>
</form>
<br />
<div ng-controller="SearchResultCtrl" class="ng-scope">
    <p class="lead page-header">Search Results</p>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Field Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>City</td>
                <td>{{data.location}}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Updated Time</td>
                <td>{{data.updatedTime | amDateFormat:'dddd, h:mm A'}}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Weather</td>
                <td>{{data.weatherCondition}}</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Temperature</td>
                <td><span ng-bind-html='data.temperature' /></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Wind</td>
                <td><span ng-bind-html='data.windSpeed' /></td>
            </tr>
        </tbody>
    </table>
</div>
