<!-- Template to display weather info -->
<form ng-controller="SearchCtrl" class="ng-scope">
	<p class="lead">Search Location - Weather</p>
	<div class="input-group">
		<input type="text" ng-model="searchLocation" class="form-control">
		<div class="input-group-btn">
			<button type="submit" class="btn btn-default" ng-click="search()">Search</button>
		</div>
	</div>
</form>
<br />
<div ng-controller="SearchResultCtrl" class="ng-scope">
	<p class="lead page-header">Search Results</p>
	<div ng-repeat="searchResult in searchResultList">
		<div show-tv></div>
	</div>
</div>
